<input type="hidden" name ="risingSigma-template-name" id="risingSigma-template-name" value="{{ template.name }}">
<div id="magic-menu-script" class="ia_menu_collections">
	<div class="collection_list">
		<ul class="list_items"></ul>
	</div>
</div>