
body * {
    letter-spacing: -1px;
}

.announcement-bar {
    overflow-y: auto;
    border: none;
}

.announcement-bar__message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: #38393e;
    width: max-content;
    margin: auto;
}

.announcement-bar__message svg:nth-child(2) {
    margin-left: 15px;
}

sticky-header, .header {
    max-width: 100%;
    margin: auto;
}

.header {
    box-shadow: 0 5px 5px rgb(255 255 255 / 50%);
    padding: 20px 37px;
}

.header-wholesale {
    justify-self: start;
    grid-area: left-icon;
}

.header-wholesale svg {
    margin-right: 15px;
}

.header>.header__search {
    grid-area: navigation;
}

.header__icons {
    grid-area: navigation;
}

.header__icons-top.header__icons {
    grid-area: icons;
}

.header__icon {
    cursor: pointer;
}

.header__icon, .header__icon--cart .icon {
    width: auto;
    height: auto;
}

.header__shipping {
    margin-left: 26px;
}

.cart-count-bubble {
    position: relative;
    left: unset;
    bottom: unset;
    font-size: 12px;
    background: transparent;
    width: auto;
    height: auto;
    border-radius: 0;
    margin-right: 1.6rem;
}

.header__icon--cart {
    margin-right: 1rem;
    text-decoration: none;
}

.header__menu-item {
    padding: 0 35px;
    font-size: 15px;
}

.header__menu-item span {
    border-bottom: 4px solid;
    border-color: transparent;
    padding-bottom: 10px;
    font-weight: 500;
    transition: 0.3s;
}

.header__menu-item:hover, .header__menu-item:hover {
    text-decoration: none;
}

.header__menu-item:hover span, .header__menu-item .header__active-menu-item {
    text-decoration: none;
    border-color: #fcd0dd;
}

@media (max-width: 989px) {
    .header-wholesale, .header__search, .header__icons {
        display: none !important;
    }

    .header__icons-top.header__icons {
        display: flex !important;
    }

    .cart-count-bubble {
        margin-right: 5px;
    }

    .header__icon--cart {
        margin-right: 0;
    }
}

#shopify-section-header.animate {
    padding: 0;
}

#shopify-section-header.animate sticky-header {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.iwt--1 .image-content {
    width: 100%;
    max-width: 170px;
    margin: 0 auto;
}

.section-subtitle p {
    font-size: 16px;
    color: #936ed4 !important;
    margin: 0;
    font-weight: bold;
}

.section-title h2 {
    font-size: 42px;
    margin: 0;
}

.section-text {
    font-size: 16px;
    text-align: center;
    max-width: 521px;
    margin: auto;
    margin-top: 50px;
}

.iwt--1 .section-title {
    margin-top: 48px;
}

.iwt-list--1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 100px;
}

.iwt-item--1 {
    width: 160px;
    margin-left: 30px;
}

.iwt-item--1:first-of-type {
    margin-left: 0;
}

.iwt-text--1 {
    margin-top: 20px;
    gap: 5px;
}

.iwt-text--1 p:last-of-type {
    margin-top: 5px;
}

.iwt-text--1 * {
    line-height: 1.1;
    margin: 0;
    font-size: 16px;
}

@media (max-width: 1417px) {
    .iwt-list--1 {
        margin-top: 50px;
    }

    .iwt-item--1 {
        margin-top: 50px;
    }
}

@media (max-width: 749px) {
    .iwt--1 .section-title {
        margin-top: 43px;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .iwt--1 .custom-section {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .iwt-item--1 {
        margin-left: 0;
        width: 50%;
    }

    .iwt-item--1:last-of-type:nth-child(2n+1) {
        width: 100%;
    }

    .iwt-text--1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .iwt-text--1 * {
        font-size: 14px;
    }

    .iwt-text--1 p:last-of-type {
        margin-top: 0;
    }

    .section-subtitle {
        margin-bottom: 23px;
    }
}

@media (min-width: 1200px) {
    .about-us-video .custom-section {
        padding-left: 155px;
        padding-right: 155px;
    }
}

.about-us-video .section-title {
    margin-top: 20px;
}

.accordion-with-video {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 100px;
    gap: 30px;
}

.accordion-with-video .accordion, .accordion-with-video .video {
    width: 50%;
}

.accordion-with-video .accordion {
    margin-top: 50px;
    border: none;
}

.accordion-tab--list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #38393e;
    overflow-y: auto;
}

.accordion-tab--item {
    margin-left: 70px; 
}

.accordion-tab--item p {
    font-size: 16px;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: max-content;
    margin: 0;
}

.accordion-tab--item:first-of-type {
    margin-left: 0;
}

.accordion-tab--item.active p, .accordion-tab--item:hover p {
    color: #936ed4 !important;
    border-color: currentColor;
}

.accordion-contents {
    margin-top: 60px;
}

.accordion-content {
    display: none;
}

.accordion-content.active {
    display: block;
}

.accordion-content--title h3 {
    font-size: 28px;
    margin: 0;
}

.accordion-content--text {
    margin-top: 48px;
}

.accordion-content--text * {
    font-size: 16px;
    margin: 0;
}

.video-container {
    display: none;
}

.video-container.active {
    display: block;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-container div {
    width: 100%;
    height: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.play-video {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    transition: 0.3s;
}

.play-video:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.play-video:active {
    transform: translate(-50%, -50%) scale(0.9);
}

.boxs-list {
    margin-top: 86px;
}

.boxs-list {
    display: flex;
    align-items: center;
}

.box--header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box--icon {
    display: flex;
}

.box--text * {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-left: 30px;
    width: max-content;
}

.box-items {
    display: flex;
    align-items: flex-end;
    margin-left: 150px;
    width: max-content;
}

.box--body {
    overflow-y: auto;
    width: 100%;
}

.box-item {
    margin-left: 10px;
    width: max-content;
}

.box-item:first-of-type {
    margin-left: 0;
}

.box-item--image {
    text-align: center;
}

.box-item--text {
    padding: 14px 0;
}

.box-item--text p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 749px) {
    .about-us-video .section-title {
        margin-top: 25px;
    }

    .accordion-with-video {
        margin-top: 64px;
        flex-direction: column;
    }

    .accordion-with-video .accordion, .accordion-with-video .video {
        width: 100%;
    }

    .accordion-with-video .video {
        width: 100vw;
        margin-left: -30px;
    }

    .boxs-list {
        margin-top: 68px;
        flex-direction: column;
        align-items: flex-start;
    }

    .box-items {
        margin-left: 0;
    }
}

.iwt--2 .section-subtitle p {
    color: #f48ba9 !important;
}

.iwt-list--2 {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.iwt-item--2 {
    width: 234px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 50px 20px 36px;
}

.iwt-item--2:first-of-type {
    margin-left: 0;
}

.iwt-title--2 p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.iwt-title--2 {
    margin-top: 15px;
}

.iwt-text--2 {
    margin-top: 18px;
}

.iwt-text--2 p {
    font-size: 16px;
    margin: 0;
}

@media (max-width: 750px) {
    .iwt-list--2 {
        margin-top: 27px;
        width: 100vw;
        margin-left: -30px;
    }
    
    .iwt-item--2 {
        width: 50%;
        margin: 0;
    }
}

.before-after-slider {
    margin-top: 48px;
}

.before-after--columns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 35px;
}

.before-after--column {
    width: calc(50% - 15px);
    text-align: center;
}

.before-after--column:last-of-type {
    margin-left: auto;
}

.before-after--item * {
    font-size: 14px;
    color: #936ed4 !important;
    font-weight: bold;
    text-align: center;
}

.before-after--item {
    background-color: rgba(147, 110, 212, 0.15);
    border-radius: 16px;
    overflow: hidden;
    padding: 49px 30px 34px;
    margin: 15px;
}

.before-after--image img {
    width: 100%;
    height: auto;
}

.before-after--text p {
    margin: 0;
}

.layout-2.before-after--item {
    background-color: #936ed4;
}

.layout-2.before-after--item * {
    color: #ffffff !important;
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px 0 0;
    padding: 0;
    list-style: none;
}

.slick-dots li {
    padding: 10px;
    display: flex;
}

.slick-dots li button {
    color: transparent !important;
    background: transparent;
    width: 10px;
    height: 10px;
    border: 1px solid #f48ba9;
    font-size: 8px;
    padding: 0;
    border-radius: 100px;
}

.slick-dots li.slick-active button {
    background-color: #f48ba9;
}

@media (max-width: 749px) {
    .before-after .custom-section {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .before-after .section-subtitle p, .before-after .section-title h2, .before-after .section-text p {
        text-align: left;
    }

    .before-after .section-text {
        margin-top: 40px;
    }

    .before-after-slider {
        margin-top: 30px;
        width: calc(100% + 20px);
        margin-left: -10px;
    }

    .slick-dots {
        margin-top: 23px;
    }
}

.image-with-icons {
    position: relative;
}

.image-with-icons--columns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-with-icons--column {
    width: 50%;
}

.image-with-icons--text .section-subtitle p {
    color: #f48ba9 !important;
}

.image-with-icons--text .section-text {
    text-align: left;
    margin: 0;
    margin-top: 50px;
}

.image-with-icons--icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 16px;
}

.image-with-icons--icon {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 34px;
}

.iwi--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
}

.iwi--icon svg {
    max-width: 100%;
}

.iwi--text {
    margin-left: 34px;
}

@media (max-width: 749px) {
    .image-with-icons--column {
        width: 100%;
    }

    .image-with-icons--text .section-text {
        margin-top: 40px;
    }

    .iwt--2 .section-text {
        margin-top: 37px;
    }

    .image-with-icons--icons {
        margin-top: 20px;
    }

    .image-with-icons--icon {
        margin-top: 10px;
        width: 100%;
    }

    .image-with-icons--image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 65%;
    }

    .image-with-icons--image img {
        width: 100%;
    }

    .iwi--text {
        margin-left: 10px;
    }
}

.newsletter__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.newsletter-text {
    max-width: 540px;
}

.newsletter-text h2 {
    font-size: 42px;
    color: #fcfcfc;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.newsletter__subheading  {
    margin-top: 40px;
}

.newsletter__subheading  p {
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    text-align: left;
}

.newsletter-form--wrapper, .newsletter-text {
    width: 50%;
}

.newsletter-form--wrapper {
    margin-top: 0 !important;
    margin-left: 20px;
    width: calc(50% - 20px);
}

@media (max-width: 1200px) {
    .newsletter-form--wrapper, .newsletter-text {
        width: 100%;
    }

    .newsletter-form--wrapper {
        margin-left: 0;
    }
}

.newsletter-form {
    max-width: 518px !important;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
    max-width: 100% !important;
}

.newsletter-form__field-wrapper .field__input {
    padding: 35px;
    padding-right: 5rem;
    padding-left: 70px;
    border-radius: 16px;
    border: none;
    color: #38393e;
    font-size: 16px;
    height: 82px;
    font-weight: bold;
}

.newsletter-form__field-wrapper .field__input::placeholder {
    color: #38393e;
}

.newsletter-form__field-wrapper .field__input::placeholder {
    color: #38393e;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
}

.newsletter-form__field-wrapper .field__input::-ms-input-placeholder {
    color: #38393e;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
}

.newsletter-form__field-wrapper .field__input::-ms-input-placeholder {
    color: #38393e;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
}

.newsletter-form__field-wrapper .icon-mail {
    position: absolute;
    top: 50%;
    left: 30px;
    z-index: 1;
    display: flex;
    transform: translateY(-50%);
}

.newsletter-form__button {
    width: 155px!important;
    background-color: #936ed4!important;
    color: #fff!important;
    font-size: 16px!important;
    height: 58px !important;
    border-radius: 16px;
    top: 12px !important;
    right: 11px !important;
}

.newsletter-form__button svg {
    margin-left: 36px;
}

.newsletter-form__field-wrapper .field__input:focus {
    border: none;
    box-shadow: none;
}

.newsletter-form__field-wrapper .field::before, .newsletter-form__field-wrapper .field::after {
    display: none;
}

@media (max-width: 749px) {
    .newsletter {
        padding: 0 !important;
    }

    .newsletter__wrapper {
        padding: 90px 20px !important;
    }

    .newsletter-text h2 {
        font-size: 32px;
    }

    .newsletter__subheading {
        margin-top: 50px;
    }

    .newsletter-form--wrapper, .newsletter-text {
        width: 100%;
    }

    .newsletter-form--wrapper {
        margin-left: 0;
        margin-top: 40px !important;
    }

    .newsletter-form__button {
        width: 108px !important;
    }

    .newsletter-form__button svg {
        display: none;
    }
}

.footer {
    border-top: none !important;
    margin-top: 0 !important;
}

.footer__content-top {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
    padding-bottom: 0 !important;
}

.footer__content-top .grid {
    gap: 0 !important;
}

.footer-block {
    border: 1px solid rgba(var(--color-foreground),.08);
    border-right: none;
    padding-bottom: 70px;
}

.footer-block__top {
    padding: 50px;
    border-bottom: 1px solid rgba(var(--color-foreground),.08);
    max-height: 150px;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-block__logo {
    max-width: 167px;
    width: 100%;
    margin: auto;
}

.logo-image {
    height: 0;
    position: relative;
}

.logo-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.footer-block__social-list, .footer-block__payment-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.footer__list-social--title, .footer__list-payment--title {
    font-size: 16px;
    color: #38393e;
    margin: 0;
}

.footer__list-social--title {
    margin-right: 60px;
}

.footer__list-payment--title {
    margin-right: 30px;
}

.footer-block__top .list-social {
    justify-content: flex-start;
}

.footer-block__heading {
    margin: 70px 0 44px !important;
    padding: 0 50px;
    color: #f48ba9;
    text-transform: lowercase !important;
    font-size: 16px;
}

.footer-block__details-content {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    margin-bottom: 0 !important;
}

.footer-block:first-of-type .footer-block__details-content {
    max-height: 160px;
}

.footer-block__details-content .list-menu__item--link {
    font-size: 16px !important;
    color: #38393e;
}

.footer__copyright {
    font-size: 16px;
    color: #38393e !important;
}

.footer__content-bottom {
    padding-top: 0 !important;
}

@media (min-width: 1019px) {
    .footer__blocks-top-wrapper {
        display: none;
    }
}

@media (max-width: 1018px) {

    .footer-block__top {
        display: none;
    }

    .footer__blocks-top-wrapper {
        border: 1px solid rgba(var(--color-foreground),.08);
        padding: 50px 20px;
        margin-bottom: 50px;
    }

    .footer-block__social-list, .footer-block__payment-list, .logo-image {
        flex-direction: column;
        justify-content: center;
    }

    .footer-block__logo {
        margin: 34px auto 44px;
    }

    .footer__list-social--title, .footer__list-payment--title {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .logo-image {
        margin-top: 0 !important;
    }

    .footer-block {
        width: 100% !important;
        border: none;
    }

    .footer-block__heading {
        margin: 20px 0 24px !important;
        padding: 0 20px !important;
    }

    .footer-block__details-content {
        max-height: 250px;
        padding: 0 20px;
    }

    .footer-block:first-of-type .footer-block__details-content {
        max-height: 200px;
    }

    .footer__blocks-top-wrapper .list-social__link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.product__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product__media-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__media-wrapper media-gallery {
    width: 100%;
}

.product__info-wrapper .product__title {
    font-size: 62px;
    color: #38393e;
    margin: 37px 0 44px !important;
    font-weight: bold;
}

.product__info-wrapper .product__title span {
    color: #f48ba9;
}

.price-item {
    font-size: 32px !important;
    font-weight: 500 !important;
}

.product__info-container .price--on-sale .price-item--regular {
    opacity: 0.2;
}

.product__info-container>*+* {
    margin: 0 !important;
}

.product__info-wrapper .price {
    margin: 45px 0 33px;
}

variant-radios {
    margin: 27px 0 37px !important;
    overflow-y: auto;
}

variant-radios::-webkit-scrollbar, .announcement-bar::-webkit-scrollbar {
    display: none;
}

variant-radios, .announcement-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.product__view-details, fieldset.product-form__input .form__label, .product-form__quantity .form__label, .product__info-container .product-form {
    display: none !important;
}

.product__text.subtitle {
    font-size: 24px;
    font-weight: 500;
    color: #38393e;
    opacity: 1;
}

variant-radios .product-form__input input[type=radio]+label {
    width: 100px;
    height: 150px;
    border-radius: 100px 100px 0 0;
    color: #38393e;
    background: #ffffff;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 16px 20px;
    transition: all .3s ease;
    margin-right: 10px;
}

variant-radios .product-form__input input[type=radio]+label::before {
    background-repeat: no-repeat!important;
    background-size: contain !important;
    background-position: top!important;
    z-index: 1;
    height: 110px;
    border-radius: 100px 100px 0 0;
}

variant-radios .product-form__input input[type=radio]+label[data-option-name="full-set"]:before {
    background-color: #e1d0fd;
}

variant-radios .product-form__input input[type=radio]+label[data-option-name="wash"]:before {
    background-color: #936ed4;
}

variant-radios .product-form__input input[type=radio]+label[data-option-name="toner"]:before {
    background-color: #86cbed;
}

variant-radios .product-form__input input[type=radio]+label[data-option-name="serum"]:before {
    background-color: #f48ba9;
}

variant-radios .product-form__input input[type=radio]+label[data-option-name="moisturizer"]:before {
    background-color: #fedc98;
}

variant-radios .product-form__input input[type=radio]:checked+label {
    color: #38393e;
    background: #ffffff;
}

@media (min-width: 1080px) {
    variant-radios .product-form__input input[type=radio]+label:hover {
        box-shadow: 0 10px 20px #00000026;
        transform: translateY(-5px);
    }

    .product__info-wrapper {
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
    }
}

variant-radios .product-form__input input[type=radio]+label:active {
    box-shadow: 0 10px 20px #00000026;
    transform: translateY(3px);
}

variant-radios .product-form__input input[type=radio]:checked+label::before {
    width: 96px;
    left: 2px;
    top: 2px;
}

variant-radios .product-form__input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__media-list .product__media {
    padding-top: 100% !important;
    border: none;
}

.product__media-list .product__media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product__info-container .product-form__quantity {
    width: 100%;
    max-width: 544px;
    margin-top: 40px !important;
}

.product-form__quantity .quantity {
    max-width: 544px;
    width: 100%;
    border-radius: 16px;
    background: #ffffff;
    overflow: hidden;
    padding: 5px 7px;
}

.product-form__quantity .quantity__button svg {
    width: auto;
}

.product-form__quantity .quantity__input {
    width: 100%;
    font-size: 16px;
    opacity: 1;
    padding: 0;
    flex-grow: unset;
    font-weight: bold;
}

.product-form__quantity .quantity__input:focus-visible {
    outline: unset;
    outline-offset: unset;
    box-shadow: none;
    background-color: transparent;
}

.quantity:before, .quantity:after {
    display: none !important;
}

.quantity__atc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    background: #936ed4;
    color: #ffffff;
    font-size: 16px;
    padding: 26px 64px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: none;
}

.quantity__atc:hover {
    transform: scale(1.02);
}

.quantity__atc:active {
    transform: scale(0.98);
}

.quantity__atc p {
    margin: 0;
    width: max-content;
}

.quantity__atc svg {
    margin-left: 100px;
}

.product__modal-opener .product__media-icon {
    display: none;
}

.product__shipping-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 45px !important;
}

.product__shipping-message--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background-color: #ffffff;
}

.product__shipping-message--text {
    font-size: 14px;
    margin: 0;
}

.yotpo-star-ratings-widget-layout * {
    font-size: 16px !important;
    font-weight: normal !important;
}

.yotpo-sr-bottom-line-summary, .yotpo-sr-bottom-line-center-panel {
    align-items: center;
}

.yotpo-sr-bottom-line-center-panel {
    flex-direction: row-reverse !important;
}

.yotpo-sr-vertical-border {
    display: none !important;
}

.yotpo-sr-bottom-line .yotpo-sr-bottom-line-left-panel.yotpo-sr-bottom-line-score {
    margin-left: 0 !important;
    margin-right: 30px !important;
}

.yotpo-sr-bottom-line .yotpo-sr-bottom-line-center-panel {
    margin: 0 30px 0 0 !important;
}

.star-container svg {
    width: 25px;
    height: 25px;
}

@media (max-width: 1079px) {
    .product__media-wrapper, .product__info-wrapper {
        width: 100% !important;
    }

    .product.grid {
        flex-direction: column-reverse;
    }

    .product__info-wrapper {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .product__info-wrapper variant-radios {
        width: 100vw;
        margin-left: -20px !important;
        padding-left: 20px;
    }

    .product__text.subtitle {
        font-size: 16px;
        text-align: center;
    }

    .product__info-wrapper .price {
        text-align: center;
        margin: 34px 0 !important;
    }

    .product__info-wrapper .product__title {
        font-size: 38px;
        text-align: center;
        margin: 26px 0 !important;
    }

    .price .price-item {
        font-size: 28px;
    }

    .quantity__atc {
        margin-left: 6px;
        padding: 26px 46px;
    }

    .quantity__atc svg {
        margin-left: 33px;
    }

    .product__shipping-message {
        justify-content: center;
    }

    .yotpo-display-s .yotpo-layout-header-wrapper .yotpo-bottom-line {
        justify-content: center;
    }
}

#shopify-section-header:not(.animate) .menu-drawer {
    width: 100vw;
    left: -20px;
}

.quick__view-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    z-index: 999;
}

.quick__view-modal > .shopify-section {
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(var(--color-foreground),.5);
    border-radius: 5px;
    max-height: 100vh;
    overflow-y: auto;
}

.quick__view-modal.open {
    display: block;
}

.product__quick-view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.variant-images, .product-details {
    width: 50%;
    padding: 0 20px;
}

.variant-image {
    width: 100%;
}

.variant-image img {
    width: 100%;
    height: auto;
}

.product__quick-view variant-radios .product-form__input {
    margin: 0;
}

.product__quick-view variant-radios .product-form__input input[type=radio]+label {
    width: 50px;
    height: auto;
    padding: 0;
    text-align: center;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}

.product__quick-view variant-radios .product-form__input input[type=radio]:checked+label {
    color: white;
    background-color: gray;
}

.product__quick-view variant-radios .product-form__input input[type=radio] {
    display: none;
}

.product__quick-view--form {
    margin-top: 30px;
}

.quick__view-close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    padding: 5px;
    top: 30px;
    right: 30px;
    border-radius: 100px;
    border: 1px solid #38393e;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 768px) {
    .quick__view-modal > .shopify-section {
        padding: 15px;
        border-radius: 0;
    }

    .variant-images, .product-details {
        width: 100%;
        padding: 0;
    }

    .variant-image {
        width: 80%;
        margin: auto;
    }

    .product__quick-view .price * {
        font-size: 14px !important;
    }

    .quick__view-close {
        top: 5px;
        right: 5px;
    }
}

.rating {
    border: none;
    float: left;
}
  
.rating > label {
    color: #90A0A3;
    float: right;
}
  
.rating > label:before {
    margin: 5px;
    font-size: 2em;
    font-family: "font-awesome-stars";
    content: "\e800";
    display: inline-block;
}
  
.rating > input {
    display: none;
}
  
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #F79426;
}
  
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #FECE31;
}

.quick-review__wrapper {
    padding: 50px 0;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.quick-view__field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.quick-view__field input, .quick-view__field select, .quick-view__field textarea {
    width: 70%;
    padding: 10px;
}

.quick-view__submit {
    margin-top: 30px;
}

.quick-review #shopify-product-reviews {
    display: none;
}

.quick-view__error {
    width: 100%;
    text-align: center;
    color: #ff0000;
}

.quick-view__thank-you, .quick-view__form, .quick-view__error {
    display: none;
}

.quick-view__error.active, .quick-view__thank-you.active, .quick-view__form.active {
    display: block;
}


.quick-view__thank-you {
    margin-top: 50px;
}

.usps-wrapper {
    
}

.usps-list {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
}

.usps-item {
    max-width: 200px;
    width: 20%;
}

.usps-item__icon {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
}

.usps-item__icon img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    object-position: center;
}

.usps-item__text {
    font-weight: bold;
    color: #000000;
    text-align: center;
}

@media (max-width: 768px) {
    .usps-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .usps-item {
        width: 100%;
    }
}